/* Regla @font-face */
@font-face {
    /* Me permite elegir un nombre de fuente para identificarla */
    font-family: Urbanist-encabezados;
    /* Donde está esa fuente */
    src: url('Urbanist/static/PlusJakartaSans-Bold.ttf');
}

/* Regla @font-face */
@font-face {
    /* Me permite elegir un nombre de fuente para identificarla */
    font-family: Urbanist-parrafos;
    /* Donde está esa fuente */
    src: url('Urbanist/static/PlusJakartaSans-Light.ttf');
}

/* Regla @font-face */
@font-face {
    /* Me permite elegir un nombre de fuente para identificarla */
    font-family: Urbanist-menu;
    /* Donde está esa fuente */
    src: url('Urbanist/static/PlusJakartaSans-SemiBold.ttf');
}

a {
    font-family: Urbanist-menu;
}

.header {
    background-color: #997c45;
}

.top-menu {
    width: 75%;
    display: inline-flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
/* Hover: Se activan las propiedades dentro de las llaves cuando paso el mouse sobre el elemento o sección */

ul li a {
    text-decoration: none;
    color: #e6c994;
}

p {
    font-family: Urbanist-parrafos;
    font-size: 0.9em;
}

.footer {
    background-color: #997c45;
}

h5 {
    font-family: Urbanist-encabezados;
}

/* Movimiento botones menu */
nav ul li:hover {
    transform: translate(5px, 5px);
}

.bottom-menu {
    width: 75%;
    display: inline-flex;
    justify-content: end;
}

nav li:hover {
    /* Crezca o escale 4 veces su tamaño */
        transform: scale(1.1);
    }

nav ul li {
    /* dos valores obligatorios que hay que agregar para que funcione 
1- A que propiedad le doy transición
2- Cuanto tiempo dura esa transición 
    transition-property: all;
    transition-duration: 2s;*/
    transition: all 0.5s;
    border: 1px solid #5e5702;
    padding: 3vh;
    background-color: #976405;
}

/* Segunda seccion del grid - Carrusel de imagenes
.carrusel {
    grid-area: carrusel;
    display: flex;
    justify-content: center;
}

.carrusel img {
    width: 90%;
}*/


/* Tercera seccion del grid - Show media
.show {
    grid-area: show;
    display: flex;
    justify-content: space-evenly;
}

.cartilla_video {
    width: 30%;
    padding: 1vh;
    color: #997c45;
    transition: all 1s;
}

.cartilla_video:hover {
    background-color: #5e5702;
}

p {
    font-family: Urbanist-parrafos;
    font-size: 0.9em;
}

.cartilla_trabajo {
    padding: 2vh;
    width: 30%;
    background-color: #e0ce92;
    color: #5e5702;
}
*/
/* Cuarta sección del grid

.footer {
    grid-area: footer;
    display: flex;
    justify-content:center;
    background-color: #997c45;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
}
*/
/*
Definicion grilla
.grid-container {
        width: 95%;
        background-color: #8584833d;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 400px 400px 150px;
        row-gap: 10px;
        z-index: 1;
Si o si, tenemos que definir primero display: grid y las filas y columnas
        grid-template-areas:
        'header'
        'carrusel'
        'show'
        'footer'
        ;
}
/* Fin definicion grilla */
/*
.header {
    grid-area: header;
    /* Propiedades flex 
    display: flex;
    /* Alinear horizontalmente
    justify-content: center;
    background-color: #997c45;
    padding: 10px 0px 10px 0px;
}
Revisar si funciona flex-wrap!!! Probarlo en el ul*/
/*.header-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
}
header div img {
    height: 100%;
}

/* Estilo del menu principal */ 
/* clase nav del header */
/*
.header {
    display: flex;
    justify-content: space-between;
}
*/