/* Reseteo de los margenes y padding por defecto */
* {
    margin: 0px;
    padding: 0px;
}

/* Regla @font-face */
@font-face {
    /* Me permite elegir un nombre de fuente para identificarla */
    font-family: Urbanist-encabezados;
    /* Donde está esa fuente */
    src: url('Urbanist/static/PlusJakartaSans-Bold.ttf');
}

/* Regla @font-face */
@font-face {
    /* Me permite elegir un nombre de fuente para identificarla */
    font-family: Urbanist-parrafos;
    /* Donde está esa fuente */
    src: url('Urbanist/static/PlusJakartaSans-Light.ttf');
}

body {
    display: flex;
    background-color: black;
    justify-content: center;
    z-index: 0;

}

/* Definicion grilla */
.grid-container {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 400px 400px 150px;
        row-gap: 10px;
        z-index: 1;
/* Si o si, tenemos que definir primero display: grid y las filas y columnas */
        grid-template-areas:
        'header'
        'carrusel'
        'show'
        'footer'
        ;
}
/* Fin definicion grilla */

.header {
    grid-area: header;
    /* Propiedades flex */
    display: flex;
    /* Alinear horizontalmente */
    justify-content:center;
    background-color: #997c45;
    padding: 10px 0px 10px 0px;
    
}
/* Revisar si funciona flex-wrap!!! Probarlo en el ul*/
.header-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
}
header div img {
    height: 100%;
}

/* Estilo del menu principal */ 
/* clase nav del header */
.top-menu {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav li {
    border: 1px solid #5e5702;
    padding: 3vh;
    background-color: #976405;
}

ul li a {
    text-decoration: none;
    color: #e6c994;
}

/* Segunda seccion del grid - Carrusel de imagenes */
.carrusel {
    grid-area: carrusel;
    display: flex;
    justify-content: center;
}

.carrusel img {
    width: 90%;
}
/* Tercera seccion del grid - Show media*/
.show {
    grid-area: show;
    display: flex;
    justify-content: space-evenly;
}

.cartilla_video {
    width: 30%;
    padding: 1vh;
    background-color: rgb(231, 196, 131);
    color: #997c45;
}

h1, h3 {
    font-family: Urbanist-encabezados;
}

p {
    font-family: Urbanist-parrafos;
    font-size: 0.9em;
}

.cartilla_trabajo {
    padding: 2vh;
    width: 30%;
    background-color: #e0ce92;
    color: #5e5702;
}


.footer {
    grid-area: footer;
    display: flex;
    justify-content:center;
    background-color: #997c45;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-menu {
    width: 50%;
}

.texto {
    color:rgb(231, 196, 131);
    width: 80%;
}