@charset "UTF-8";
/* Regla @font-face */
@font-face {
  /* Me permite elegir un nombre de fuente para identificarla */
  font-family: Urbanist-encabezados;
  /* Donde está esa fuente */
  src: url("Urbanist/static/PlusJakartaSans-Bold.ttf"); }

/* Regla @font-face */
@font-face {
  /* Me permite elegir un nombre de fuente para identificarla */
  font-family: Urbanist-parrafos;
  /* Donde está esa fuente */
  src: url("Urbanist/static/PlusJakartaSans-Light.ttf"); }

/* Regla @font-face */
@font-face {
  /* Me permite elegir un nombre de fuente para identificarla */
  font-family: Urbanist-menu;
  /* Donde está esa fuente */
  src: url("Urbanist/static/PlusJakartaSans-SemiBold.ttf"); }

iframe {
  margin-left: 1rem; }

/* Crear un grupo de propiedades a utilizar
pero con valores que voy a definir
en un futuro cercano
Parecido a los constructores en otros lenguajes
*/
.top-menu {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.top-menu ul li {
  width: 20%; }

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none; }

.bottom-menu {
  width: 75%;
  display: inline-flex;
  justify-content: end; }

/* Pseudoclases:
 Hover: cuando pasa el mouse cambia
 link: cuando lo clickea cambia
 visited: cuando ya fue visitado cambia
 active: cuando sea activado el botón va a cambiar
        (sirve para jugar con el menú de navegación y la sensación de profundidad)
*/
/*
@media screen and (min-width: 600px) {
    .carrusel {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    
    
}*/
/*
.carrusel {
    display: none;
}
*/
.header {
  background-color: #9e370e;
  height: 22vh; }

nav ul li {
  /* dos valores obligatorios que hay que agregar para que funcione 
1- A que propiedad le doy transición
2- Cuanto tiempo dura esa transición 
    transition-property: all;
    transition-duration: 2s;*/
  transition: all 0.5s;
  border: 1px solid #302715;
  padding: 3vh;
  background-color: #997c45;
  width: 25%; }
  nav ul li:hover {
    transform: scale(1.1);
    background-color: #d5c3a2; }
  nav ul li a {
    text-decoration: none;
    color: #bda26d; }

.bt-boot {
  background-color: #e44f14;
  color: #581f08;
  border: 1px solid #997c45; }
  .bt-bootvisited {
    background-color: #f08155; }

h5 {
  color: #581f08; }

p {
  color: #110602; }

.footer {
  background-color: #534325; }

/* Muchas propiedades distintas dentro de la misma extension
Placeholder %

%botones {
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
}

.ok {
    background-color: green;
    @extend %botones;
}

.error {
    background-color: red;
    @extend %botones;
}

.disabled {
    background-color: gray;
    @extend %botones;
}

Siempre se reutilizan */
p {
  font-family: Urbanist-parrafos;
  font-size: 0.9em; }

h5 {
  font-family: Urbanist-encabezados; }

a {
  font-family: Urbanist-menu; }
