$marron: #997c45;
$caoba: #9e370e;

.header {
    background-color: ($caoba);
    height: 22vh;
}

ul li a {
    text-decoration: none;
    color: lighten($marron, 15%);
}
nav ul li {
    &:hover {
        transform: scale(1.1);
        background-color: lighten($marron, 30%);
    }
}

nav ul li {
    /* dos valores obligatorios que hay que agregar para que funcione 
1- A que propiedad le doy transición
2- Cuanto tiempo dura esa transición 
    transition-property: all;
    transition-duration: 2s;*/
    transition: all 0.5s;
    border: 1px solid darken($marron, 30%);
    padding: 3vh;
    background-color: ($marron);
    width: 25%;
}

.footer {
    background-color: darken($marron, 20%);
}