$marron: #997c45;
$caoba: #9e370e;

.header {
    background-color: ($caoba);
    height: 22vh;
}

nav ul li {
    /* dos valores obligatorios que hay que agregar para que funcione 
1- A que propiedad le doy transición
2- Cuanto tiempo dura esa transición 
    transition-property: all;
    transition-duration: 2s;*/
    transition: all 0.5s;
    border: 1px solid darken($marron, 30%);
    padding: 3vh;
    background-color: ($marron);
    width: 25%;
    &:hover {
        transform: scale(1.1);
        background-color: lighten($marron, 30%);
    }
    a {
        text-decoration: none;
        color: lighten($marron, 15%); 
    } 
}
.bt-boot {
    background-color: lighten($caoba, 15%);
    color: darken($caoba, 15%);
    border: 1px solid $marron;
    &visited {
        background-color: lighten($caoba, 30%);
    }
}

h5 {
    color: darken($caoba, 15%);
}
p {
    color: darken($caoba, 30%);
}

.footer {
    background-color: darken($marron, 20%);
}

/* Muchas propiedades distintas dentro de la misma extension
Placeholder %

%botones {
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
}

.ok {
    background-color: green;
    @extend %botones;
}

.error {
    background-color: red;
    @extend %botones;
}

.disabled {
    background-color: gray;
    @extend %botones;
}

Siempre se reutilizan */